* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'Open Sans', sans-serif;
}

img {
    border-radius: 28px;
    width: 100%;
}

#page {
    box-sizing: border-box;
    width: 1120px;
    margin: 120px auto 89px;
}

.headline {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px;
    color: #E1624F;
}

h1, h2, h3 {
    color: #1B1B1B;
}

h1 {
    line-height: 49px;
    font-size: 36px;
    margin: 8px 0 40px;
}

h2 {
    line-height: 44px;
    margin: 2px 0 8px;
    font-size: 32px;
}

h3 {
    line-height: 38px;
    font-size: 28px;
    margin: 20px 0 4px;
}

.subtitle {
    text-align: center;
    margin-top: 24px;
    line-height: 22px;
    font-size: 16px;
    font-style: italic;
    color: #333333;
}

p {
    font-size: 16px;
}